<nb-layout>
  <nb-layout-column class="gradient">
    <div class="mt-3 mb-5 d-flex justify-content-around align-items-center">
      <div class="d-inline">
        <img
          src="https://images.vexels.com/media/users/3/239907/isolated/preview/3b173d55543bdf6dbcf6eb5a60547c7b-bakeryandsweets-graphicicon-1.png"
          class="rounded-circle"
          style="width: 100px"
          alt="Avatar"
        />
        <h3 class="d-inline m-0 ml-2">go/donuts</h3>
      </div>

      <!--  -->
      <span>
        <button nbButton status="danger" shape="round" (click)="open()">
          <i class="ri-heart-3-fill ri-lg"></i>
        </button>
        <button
          [disabled]="true"
          nbButton
          status="warning"
          shape="round"
          class="mx-3"
        >
          <i class="ri-information-line ri-lg"></i>
        </button>
        <button [disabled]="true" nbButton status="info" shape="round">
          <i class="ri-bug-fill ri-lg"></i>
        </button>
        <button
          [disabled]="true"
          nbButton
          status="success"
          shape="round"
          class="mx-3"
        >
          <i class="ri-calendar-check-fill ri-lg"></i>
        </button>
      </span>
    </div>
    <div class="row d-flex justify-content-center">
      <nb-tabset class="w-75">
        <nb-tab
          tabTitle="Doneados"
          [badgeText]="users.length.toString()"
          badgeStatus="danger"
        >
          <nb-card
            style="border-radius: 30px; border: 0; height: 75vh"
            class="mt-5"
          >
            <nb-list>
              <nb-list-item *ngFor="let user of users">
                <div class="row w-100 my-5">
                  <div class="col-7">
                    <div class="row">
                      <div class="col-5 text-end">
                        <img
                          [src]="user['imageURL']"
                          class="rounded-circle"
                          style="width: 105px; border: 5px solid #ff708d"
                          alt="Avatar"
                        />
                      </div>
                      <div class="col text-center">
                        <h5 class="mb-0">{{ user["displayName"] }}</h5>
                        <a
                          [href]="
                            'https://moma.corp.google.com/person/' +
                            user['displayName']
                          "
                        >
                          <p style="color: #ff708d">{{ user["ldap"] }}</p>
                        </a>
                        <nb-tag
                          status="basic"
                          appearance="outline"
                          text="Fooled on: {{
                            user['time'] | date | lowercase
                          }}"
                        >
                        </nb-tag>
                      </div>
                    </div>
                  </div>

                  <div class="col-4">
                    <a [href]="processURL(user['message'])">
                      <button
                        [disabled]="userHasScheduled(user)"
                        class="mt-1"
                        nbButton
                        hero
                        shape="round"
                        status="info"
                      >
                        Enviar recordatorio
                      </button>
                    </a>
                    <button
                      *ngIf="!userHasScheduled(user)"
                      class="mt-3"
                      nbButton
                      hero
                      shape="round"
                      status="success"
                      (click)="openCalendar(user)"
                    >
                      Agendar mi pago
                    </button>
                    <div class="mt-4" *ngIf="userHasScheduled(user)">
                      <nb-tag
                        status="success"
                        appearance="outline"
                        text="Pagará: {{
                          processDate(user['prometido']) | date: 'fullDate'
                        }}"
                      >
                      </nb-tag>
                      <button
                        style="margin-left: 10px"
                        nbButton
                        status="success"
                        shape="round"
                        size="small"
                        (click)="openCalendar(user)"
                      >
                        <nb-icon icon="sync"></nb-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </nb-list-item>
            </nb-list>
          </nb-card>
        </nb-tab>
        <!-- <nb-tab tabTitle="Googlers Cumplidores">
          <nb-card
            style="border-radius: 25px; border: 0"
            size="medium"
            class="mt-5"
          >
            <nb-list>
              <nb-list-item
                *ngFor="let user of users"
                class="d-flex justify-content-between"
              >
                <nb-user
                  class="w-50"
                  [picture]="user['imageURL']"
                  [name]="user['displayName']"
                  title="Nos debe {{ user['type'] | lowercase }}"
                  size="large"
                >
                </nb-user>
                <a href="https://forms.gle/9z41Yz9PsWzw4MYc6">
                  <button nbButton hero shape="round" status="warning">
                    Moma Badge 🎖
                  </button>
                </a>
                <a href="https://gthanks.googleplex.com/">
                  <button
                    nbButton
                    hero
                    shape="round"
                    status="danger"
                    class="mx-3"
                  >
                    Enviar kudos 🥳
                  </button>
                </a>
                <p class="mb-0 text-center">
                  Cumplio el: <br />{{ date | date }}
                </p>
              </nb-list-item>
            </nb-list>
          </nb-card>
        </nb-tab> -->
      </nb-tabset>
    </div>
  </nb-layout-column>
  <nb-layout-footer>
    <small>Creado con amor en MX-MEX-MUS 🇲🇽</small>
  </nb-layout-footer>
</nb-layout>
